# Don't track the rpi-ws281x-rust package
rpi-ws281x-rust/

# Rust build artifacts
rust/target/

# Logs
frontend/logs
**/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
**/*.local

# TLS key and certs
*.key
*.crt

# Any and all secrets
**/secrets/

# Editor directories and files
**/.vscode/
**/!.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?
