<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Lights Controller</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.png">
  <link rel="stylesheet" href="assets/styles.css">
</head>

<body>
  <p>Hello, {{name}}!</p>

  <label class="switch">
    <input type="checkbox" id="myToggle">
    <span class="slider round"></span>
  </label>

  <div class="sliderbarcontainer">
    <input type="range" min="0" max="255" value="64" class="sliderbar" id="myRange">
  </div> 

  <script src="assets/scripts.js"></script>
</body>

</html>